.header {
  padding-top: var(--mantine-spacing-sm);
  border-bottom: rem(1px) solid var(--mantine-color-gray-2);
  margin-bottom: rem(15px);
}

.mainSection {
  padding-bottom: var(--mantine-spacing-sm);
}

.user {
  color: var(--mantine-color-black);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;
}

.user:hover {
  background-color: var(--mantine-color-gray-0);
}

@media (max-width: var(--mantine-breakpoint-xs)) {
  .user {
    display: none;
  }
}

.userActive {
  background-color: var(--mantine-color-gray-0);
}

.tabsList::before {
  display: none;
}

.tab {
  font-weight: 500;
  height: rem(38);
  background-color: transparent;
  position: relative;
  bottom: -1px;
}

.tab::before,
.tab::after {
  background-color: var(--mantine-color-gray-2) !important;
}

.tab:hover {
  background-color: var(--mantine-color-gray-1);
}

.tab[data-active] {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-2);
  border-bottom-color: transparent;
}

.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;
}

.control:hover {
  background-color: var(--mantine-color-gray-0);
}

.link {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px; /* Altezza della sottolineatura */
  bottom: -4px; /* Regola questo valore per spostare la sottolineatura più in basso */
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
