.card {
    position: relative;
    overflow: hidden;
    transition: transform 150ms ease, box-shadow 150ms ease;
  }
  
  .card:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }
  
  .title {
    font-family: 'Greycliff CF', var(--mantine-font-family);
    font-weight: bold;
    margin-top: 1.25rem; /* 20px if base font-size is 16px */
    text-transform: uppercase;
  }
  
  .blurredBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(4px);
    z-index: -1;
  }
  
  .viewMore {
    filter: blur(4px);
    transition: filter 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .viewMore:hover {
    filter: blur(0);
  }
  